/*** all Mobile Screen (iphone 6,7,8) ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.info-content.list-content {
  min-height: 380px;
  padding: 100px 116px; }
  @media screen and (max-width: 1679px) {
    .info-content.list-content {
      padding: 70px 90px; } }
  @media screen and (max-width: 1440px) {
    .info-content.list-content {
      padding: 50px 70px; } }
  @media screen and (max-width: 1200px) {
    .info-content.list-content {
      padding: 30px 50px; } }
  @media screen and (max-width: 992px) {
    .info-content.list-content {
      padding: 30px 20px; } }
  .info-content.list-content .curvedform .form-box {
    padding-bottom: 30px; }
    .info-content.list-content .curvedform .form-box .form-label {
      font-size: 14px; }
    .info-content.list-content .curvedform .form-box .form-control {
      height: 54px;
      font-size: 14px;
      color: #BCBCBD; }
      @media screen and (max-width: 1440px) {
        .info-content.list-content .curvedform .form-box .form-control {
          height: 50px; } }
      @media screen and (max-width: 992px) {
        .info-content.list-content .curvedform .form-box .form-control {
          height: 45px; } }
  .info-content.list-content .curvedform .btn.btn-primary {
    max-width: 187px;
    height: 51px;
    margin: 0; }

.reset-password-modal .modal-content {
  border-radius: 18px;
  border: none; }
  .reset-password-modal .modal-content .modal-header {
    border: none; }
    .reset-password-modal .modal-content .modal-header .btn-close {
      background-image: url("../img/close_without_bg.svg");
      width: 33px;
      height: 33px;
      background-color: #FBF2FF;
      border-radius: 100px;
      padding: 0;
      background-size: 13px; }
      .reset-password-modal .modal-content .modal-header .btn-close:focus {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.027); }
  .reset-password-modal .modal-content .modal-body .reset-password {
    display: block;
    margin: auto;
    text-align: center; }
    .reset-password-modal .modal-content .modal-body .reset-password h4 {
      font-size: 22px;
      font-family: 'sf-regular';
      text-align: center;
      color: #330948;
      margin: 13px auto; }
    .reset-password-modal .modal-content .modal-body .reset-password p {
      font-family: 'sf-pro-light';
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.56px;
      color: #946BAA;
      max-width: 392px;
      display: block;
      margin: auto; }
    .reset-password-modal .modal-content .modal-body .reset-password .btn-primary {
      width: 143px;
      height: 51px;
      border-radius: 28px;
      text-align: center;
      font-family: 'sf-regular';
      font-size: 18px;
      color: #FFFFFF;
      margin-top: 20px;
      margin-bottom: 50px; }

@media (max-width: 1441px) {
  .reset-password-modal .reset-password-img {
    width: 100px; }

  .reset-password-modal .modal-content .modal-body .reset-password h4 {
    font-size: 20px; }

  .reset-password-modal .modal-content .modal-body .reset-password .btn-primary {
    height: 44px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px; } }
@media (max-width: 1367px) {
  .list-content .curvedform .form-box .form-control {
    height: 44px;
    font-size: 13px;
    color: #BCBCBD; }

  .list-content .curvedform .form-box .form-label {
    font-size: 13px; }

  .info-content.list-content .curvedform .btn.btn-primary {
    height: 44px;
    font-size: 14px; }

  .reset-password-modal .modal-content .modal-header .btn-close {
    width: 28px;
    height: 28px;
    background-size: 10px; }

  .info-content.list-content .curvedform .form-box .form-control {
    height: 44px; }

  .info-content.list-content {
    padding: 40px 50px; } }
@media (max-width: 1281px) {
  .reset-password-modal .modal-content .modal-body .reset-password h4 {
    font-size: 18px; }

  .reset-password-modal .modal-content .modal-header .btn-close {
    width: 24px;
    height: 24px;
    background-size: 9px; }

  .reset-password-modal .reset-password-img {
    width: 80px; }

  .reset-password-modal .modal-content .modal-body .reset-password .btn-primary {
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px; }

  .reset-password-modal .modal-content .modal-body .reset-password h4 {
    font-size: 16px;
    margin: 10px 0 8px; }

  .reset-password-modal .reset-password-img {
    width: 65px; }

  .reset-password-modal .modal-content .modal-body .reset-password .btn-primary {
    margin-top: 15px;
    margin-bottom: 15px; } }

/*# sourceMappingURL=list.css.map */
