/*** all Mobile Screen (iphone 6,7,8) ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
/* how to use this variabile*/
/* .forms{
   @include placeholder{
    opacity: 1;color: #a5aeb7;
  } */
/* @include transition (.2s ease-out all); */
/*    @include flexbox();
    @include justify-content (center);*/
.user-info-media .content-row {
  flex-wrap: wrap; }
  @media screen and (min-width: 1200px) {
    .user-info-media .content-row {
      align-items: center; } }
.user-info-media .col-profile-pic {
  position: relative; }
  @media screen and (max-width: 1200px) {
    .user-info-media .col-profile-pic {
      flex: 0 0 130px; } }
  .user-info-media .col-profile-pic .opn-story {
    position: absolute;
    inset: 0;
    border-radius: 100%;
    opacity: 0; }
@media screen and (max-width: 1200px) {
  .user-info-media .col-info-content {
    padding-left: 15px;
    padding-top: 0; } }
@media screen and (max-width: 768px) {
  .user-info-media .col-info-content {
    flex: 0 0 100%;
    max-width: 100%; } }
.user-info-media .profile-pic {
  display: block;
  position: relative; }
  @media screen and (max-width: 992px) {
    .user-info-media .profile-pic {
      width: 120px;
      height: 120px; } }
  @media screen and (max-width: 992px) {
    .user-info-media .profile-pic .profile-img {
      width: 114px;
      height: 114px; } }
@media screen and (max-width: 992px) {
  .user-info-media .info-content-details {
    padding-top: 0; } }
.user-info-media .info-content-details .profile-pic {
  display: none; }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .user-info-media .info-content-details [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px; } }
@media screen and (max-width: 1200px) {
  .user-info-media .info-content-details .info-item {
    padding-bottom: 20px; } }

.media-row {
  padding-bottom: 10px; }
  @media screen and (min-width: 1200px) {
    .media-row {
      margin-top: 50px; } }

.media-items {
  display: flex;
  gap: 9px;
  flex-wrap: wrap;
  padding-right: 10px;
  max-height: 500px;
  overflow: auto; }
  .media-items .media-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    flex: 0 0 calc(20% - 8px); }
    @media screen and (max-width: 1200px) {
      .media-items .media-wrap {
        flex: 0 0 calc(25% - 8px); } }
    @media screen and (max-width: 992px) {
      .media-items .media-wrap {
        flex: 0 0 calc(33.333% - 8px); } }
    @media screen and (max-width: 640px) {
      .media-items .media-wrap {
        flex: 0 0 calc(50% - 8px); } }
    @media screen and (max-width: 480px) {
      .media-items .media-wrap {
        flex: 0 0 calc(100% - 8px); } }
    .media-items .media-wrap .user-media {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .media-items .media-wrap .openDetails {
      position: absolute;
      inset: 0;
      z-index: 2;
      padding: 0; }
    .media-items .media-wrap .action-btns {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 3; }
      .media-items .media-wrap .action-btns .btn-delete {
        background-color: rgba(0, 0, 0, 0.5);
        width: 32px;
        height: 32px;
        border-radius: 32px;
        padding: 0; }
        @media screen and (max-width: 1440px) {
          .media-items .media-wrap .action-btns .btn-delete {
            width: 30px;
            height: 30px; } }
        @media screen and (max-width: 992px) {
          .media-items .media-wrap .action-btns .btn-delete {
            width: 28px;
            height: 28px; } }
        @media screen and (max-width: 640px) {
          .media-items .media-wrap .action-btns .btn-delete {
            width: 24px;
            height: 24px; } }
        .media-items .media-wrap .action-btns .btn-delete .del-ico {
          width: 30%;
          object-fit: contain;
          filter: brightness(0) invert(1);
          margin: 0; }
          @media screen and (max-width: 767px) {
            .media-items .media-wrap .action-btns .btn-delete .del-ico {
              width: 11px; } }

.media-modal .modal-content {
  padding: 35px 45px;
  padding-right: 0; }
  @media (max-width: 1367px) {
    .media-modal .modal-content {
      padding: 25px 35px;
      padding-right: 0; } }
  @media (max-width: 1281px) {
    .media-modal .modal-content {
      padding: 20px 30px;
      padding-right: 0; } }
  @media (max-width: 1281px) {
    .media-modal .modal-content {
      padding: 20px 25px; } }
  .media-modal .modal-content .modal-header {
    padding: 0; }
    .media-modal .modal-content .modal-header .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      background-size: 13px; }
      @media (max-width: 1367px) {
        .media-modal .modal-content .modal-header .btn-close {
          background-size: 10px;
          width: 26px;
          height: 26px; } }
    .media-modal .modal-content .modal-header .prof-media {
      display: flex;
      align-items: center; }
      .media-modal .modal-content .modal-header .prof-media .profile-pic {
        width: 35px;
        height: 35px; }
        @media (max-width: 1367px) {
          .media-modal .modal-content .modal-header .prof-media .profile-pic {
            display: block !important; } }
        .media-modal .modal-content .modal-header .prof-media .profile-pic .profile-img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover;
          border: 2px solid #ECDFF2; }
      .media-modal .modal-content .modal-header .prof-media .posted-info {
        padding-left: 14px; }
        .media-modal .modal-content .modal-header .prof-media .posted-info .name {
          color: #5f2095;
          font-size: 15px;
          margin-bottom: 2px; }
        .media-modal .modal-content .modal-header .prof-media .posted-info .time {
          color: #715380;
          font-size: 9px;
          margin-bottom: 0px; }
  .media-modal .modal-content .modal-body {
    padding: 0;
    padding-top: 25px;
    height: calc(100vh - 100px); }
    @media (max-width: 1367px) {
      .media-modal .modal-content .modal-body {
        padding-top: 20px; } }
    .media-modal .modal-content .modal-body .story-details-wrap {
      display: flex;
      align-items: stretch;
      height: 100%; }
      @media (max-width: 991px) {
        .media-modal .modal-content .modal-body .story-details-wrap {
          flex-direction: column; } }
      .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic {
        max-width: 50%;
        flex: 1 1 50%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px;
        border-radius: 6px;
        position: relative;
        overflow: hidden; }
        .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic.post_details {
          padding: 0 !important; }
        @media (max-width: 991px) {
          .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic {
            max-width: 100%;
            flex: 1 1 100%;
            min-height: 450px; } }
        .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic::before {
          content: '';
          position: absolute;
          display: block;
          inset: 0;
          margin: auto;
          background: rgba(0, 0, 0, 0.259); }
        .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic.post_details {
          padding: 0 !important; }
          .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic.post_details::before {
            background-color: transparent !important; }
        .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic .tag-list {
          position: absolute;
          bottom: 10px;
          left: 10px; }
          .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic .tag-list span {
            background: rgba(250, 245, 255, 0.38);
            border-radius: 15px;
            display: block;
            text-align: center;
            font: normal normal normal 12px/6px 'sf-regular';
            color: #FFFFFF;
            margin-bottom: 5px;
            padding: 5px 8px;
            max-width: fit-content; }
            .media-modal .modal-content .modal-body .story-details-wrap .story-details-pic .tag-list span:last-child {
              margin-bottom: 0; }
      .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap {
        max-width: 50%;
        flex: 1 1 50%;
        padding: 0 30px;
        position: relative;
        padding-right: 0; }
        @media (max-width: 991px) {
          .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap {
            max-width: 100%;
            flex: 1 1 100%;
            min-height: auto; } }
        .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .titles {
          color: #5F2095;
          font-size: 14px;
          font-family: 'sf-medium';
          margin-bottom: 16px; }
          @media (max-width: 1367px) {
            .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .titles {
              margin-bottom: 13px; } }
          @media (max-width: 991px) {
            .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .titles {
              margin-bottom: 8px; } }
        .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap p {
          text-align: left;
          font: normal normal normal 13px/22px 'sf-regular';
          color: #6D5A77;
          margin: 0; }
        .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .story-details .mansion-txt {
          background-color: #FAF5FF;
          border-radius: 15px;
          padding: 7px 17px;
          font-size: 10px;
          color: #6F109E;
          font-family: 'sf-regular';
          margin-bottom: 9px;
          display: inline-flex;
          width: fit-content; }
        .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .story-details-taglist {
          height: calc(100vh - 250px);
          overflow: auto;
          padding-right: 45px; }
          @media (max-width: 1367px) {
            .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .story-details-taglist {
              height: calc(100vh - 225px); } }
          @media (max-width: 991px) {
            .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .story-details-taglist {
              height: auto !important;
              margin-top: 30px; } }
          .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .story-details-taglist .story-details {
            padding: 30px 0;
            margin: 30px 0;
            border-bottom: 1px solid rgba(112, 112, 112, 0.1);
            border-top: 1px solid rgba(112, 112, 112, 0.1); }
            @media (max-width: 1367px) {
              .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .story-details-taglist .story-details {
                padding: 20px 0;
                margin: 20px 0; } }
            @media (max-width: 991px) {
              .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .story-details-taglist .story-details {
                padding: 15px 0;
                margin: 15px 0; } }
        .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .delete-story-wrap {
          padding-right: 45px;
          margin-top: 20px;
          width: 100%; }
          @media (max-width: 1367px) {
            .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .delete-story-wrap {
              padding-right: 35px !important; } }
          @media (max-width: 1281px) {
            .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .delete-story-wrap {
              padding-right: 30px !important; } }
          .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .delete-story-wrap .delete-wrap {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            border-top: 1px solid rgba(112, 112, 112, 0.1);
            padding-top: 8px; }
          .media-modal .modal-content .modal-body .story-details-wrap .story-list-wrap .delete-story-wrap .btn-delete {
            border-radius: 19px;
            border: none;
            background-color: #FAF5FF;
            color: #6F109E;
            font-family: 'sf-regular';
            font-size: 11px;
            width: 100%;
            max-width: 137px;
            padding: 8px 15px; }
.media-modal.mediaStory .story-details-taglist {
  overflow: unset !important;
  padding-right: 0 !important; }
  .media-modal.mediaStory .story-details-taglist .story-details-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; }
    .media-modal.mediaStory .story-details-taglist .story-details-tag .story-details {
      margin: 0 !important;
      padding: 0 !important;
      overflow: auto;
      padding-right: 45px !important;
      border: none !important; }
      @media (max-width: 1367px) {
        .media-modal.mediaStory .story-details-taglist .story-details-tag .story-details {
          padding-right: 35px !important; } }
      @media (max-width: 1281px) {
        .media-modal.mediaStory .story-details-taglist .story-details-tag .story-details {
          padding-right: 30px !important; } }

/*# sourceMappingURL=user-info-media.css.map */
